<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peppelt.provacar1">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.maps" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Carpooling UNISA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrazioneActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".MenuActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".InserimentoAutoActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".InserimentoRichiestaActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".EventiList"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".EventoActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".PosizioneGps"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".InserimentoDettagliVeicoloActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".FeedRichiesteActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".RiepilogoPercorsoActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".VisualizzaPercorsiActivity"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".VisualizzaDettagliPercorso"
            android:label="Carpooling UNISA" />
        <activity
            android:name=".PosizioneUtente"
            android:label="Carpooling UNISA" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvwSp5ut0H2u5eSIY2ob5JlzAArdyhI7g" />

        <activity
            android:name=".TrasportoAlternativoActivity"
            android:label="@string/title_activity_trasporto_alternativo" />
        <activity
            android:name=".PosizioneAutista"
            android:label="@string/title_activity_posizione_autista" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>